.watch_screen {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;

}
.watch_section{
  margin-bottom: 2rem;
  height: 60vh;
}
.watch_bottom{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}
