@import "_base.scss";

.channelHeader {
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  margin: 0 1rem;
  .dflex {
    display: flex;
    gap: 2rem;
  }
  &__left {
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }
  button {
    text-transform: uppercase;
    background-color: red;
    color: #fff;
    font-size: 1rem;
    padding: 0.4rem;
    border: none;
    width: 150px;
    border-radius: 5px
  }
}

.video_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  margin-top: 55px;
  a {
    color: #b1bdb4;
    text-decoration: none;
  }
}
