@import "../../styles/base";

.header{
    height: 45px;
    // border: 2px solid salmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
    padding: 1rem 3rem;
    background-color: $black-primary;

    &__menu{
        display: none;
    }
    &__logo{
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
    form{
        display: flex;
        flex: 0.6;
        padding: 5px;
        margin: 0 12px;
        background-color: $black-secondary;
        border-radius: 6px;
        border: 1px solid;
        font-size: 19px;

        input{
            width: 100%;
            border: none;
            padding: .3rem;
            background: transparent;
            color: $text-color;

            &:focus{
                outline: none;
            }
        }
        button{
            padding: 2px 1.25rem;
            color: $text-color;
            border: none;
            background: transparent;
            &:focus{
                outline: none;
            }
        }


    }
    &__icons{
        display: flex;
        flex: 0.15;
        justify-content: space-around;
        align-items: center;
        img{
            width: 35px;
            object-fit: contain;
            margin-left: 3px;
            border-radius: 50%;
        }
    }

}

// breakpoints
@media (max-width:$breakpoint-small){
    .header{
        padding: 1.3rem;
        form{
            flex: .7;

        }
        &__menu{
            display: block;
        }
        &__logo{
            display: none;
        }
        &__icons > *:not(img){
            display: none;
        }

    }
}